.input_searchBar{
    padding:1px 15px ;
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    color: black;
    font-size: 18px;
    letter-spacing: 1.2px;
}
/*
.input_searchBar:hover{
    box-shadow: 0 0 20px #AA76EE, 0 0 40px #AA76EE, 0 0 80px #AA76EE;
    transition:0.8s;
}
*/
.button_searchBar{
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #1F2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
}

.button_searchBar:hover{
    color: white;
    background-color: #474747;
    box-shadow: 0 0 20px #F7F7F7, 0 0 40px #F7F7F7, 0 0 80px #F7F7F7;
    transition:0.8s;
    border: none;
    cursor:pointer ;
}
.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
   }
   
   .label {
    position: relative;
    top: -1px;
   }
   
   .transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(16, 185, 129, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   }
   
   .button_searchBar:hover .transition {
    width: 14em;
    height: 14em;
   }
   
   .button_searchBar:active {
    transform: scale(0.97);
   }